.main-page {
    background-color: #F5F5F5;
}

.main-page img {
    width: 5rem;
    height: 5rem;
    padding-right: 1rem;
}

.main-page-container {
    display: flex;
    padding-left: 1rem;
    padding-top: 1rem;
}

.main-page-sidebar {
    padding-left: 2rem;
    padding-top: 2rem;
    background-color: #F5F5F5;
}

.main-page-container-myday {
    padding-bottom: 2rem;
}

.main-page-container-important {
    padding-bottom: 2rem;
}

.main-page-container-completed {
    padding-bottom: 2rem;
}

.main-page-container-myday button {
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 1rem;
}

.main-page-container-important button {
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 1rem;
}

.main-page-container-completed button {
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 1rem;
}

.main-page-add-form {
    background-color: white;
    margin-left: 5rem;
}

.main-page-add-form button {
    border: none;
    background-color: transparent;
    font-size: 3rem;
    color: gray;
    margin-right: 2rem;
    padding-top: 2rem;
}

.main-page-add-form input {
    margin: 2rem 2rem 2rem 2rem;
    outline: 0;
    border-width: 0 0 2px;
    border-color: gray;
    width: 40rem;
    font-size: 2rem;
    opacity: 50%;
}

.main-page-task-list-header {
    text-align: center;
    display: flex;
    background-color:#F5F5F5;
}

.main-page-task-list-header-important {
    margin-left: 20rem;
}