.sign-in-container {
    display: flex;
    border-style: solid;
    border-width: 1px;
    width: 110vh;
    margin-left: 20rem;
    margin-top: 4rem;
}

.sign-in-sidebar {
    background-color: #0078D7;
    text-align: center;
    color: white;
    width: 20rem;
    padding-left: 1rem
}

.sign-in {
    text-align: center;
    margin-left: 5rem;
}

.sign-in h1 {
    color: #0078D7;
}

.sign-in img {
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
}

.sign-in p {
    color: grey;
    font-weight: bold;
    opacity: 0.5;
}

.sign-in input {
    display: block;
    margin-bottom: 2rem;
    width: 18rem;
    height: 2rem;
    color: grey;
    padding-left: 1rem;
}

.sign-in button {
    border-radius: 50px;
    border-style: solid;
    border-color: white;
    width: 9rem;
    height: 3rem;
    background-color: #0078D7;
    color: white;
    margin-bottom: 5rem;
    font-weight: bold;
}

.sign-in-title {
    text-align: left;
    font-weight: bold;
    margin-bottom: 5rem;
}

.sign-in-sidebar button {
    border-radius: 50px;
    border-style: solid;
    border-color: white;
    width: 9rem;
    height: 3rem;
    background-color: transparent;
    color: white;
    margin-top: 2rem;
    font-weight: bold;
}